<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="e9a889">  <td>17/05/29 17:54:22</td>   <td>0</td> <td>&nbsp;</td><td title="&lt;&lt;grid.closeBrowser()[pri:0, instance:TestPac.TestWebApp.grid@5622fdf]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1555690610</td>   <td></td> </tr>
<tr bgcolor="e9a889">  <td>17/05/29 17:54:26</td>   <td>4412</td> <td>&nbsp;</td><td title="&lt;&lt;grid.closeBrowser()[pri:0, instance:TestPac.TestWebApp.grid@589838eb]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1555690610</td>   <td></td> </tr>
<tr bgcolor="e9a889">  <td>17/05/29 17:54:21</td>   <td>-631</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="grid.testWebApp()[pri:0, instance:TestPac.TestWebApp.grid@5622fdf]">testWebApp</td> 
  <td>main@1555690610</td>   <td></td> </tr>
<tr bgcolor="e9a889">  <td>17/05/29 17:54:26</td>   <td>3930</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="grid.testWebApp()[pri:0, instance:TestPac.TestWebApp.grid@589838eb]">testWebApp</td> 
  <td>main@1555690610</td>   <td></td> </tr>
<tr bgcolor="e9a889">  <td>17/05/29 17:54:16</td>   <td>-5664</td> <td>&nbsp;</td><td title="&gt;&gt;grid.testgrid(java.lang.String)[pri:0, instance:TestPac.TestWebApp.grid@5622fdf]">&gt;&gt;testgrid</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1555690610</td>   <td></td> </tr>
<tr bgcolor="e9a889">  <td>17/05/29 17:54:22</td>   <td>35</td> <td>&nbsp;</td><td title="&gt;&gt;grid.testgrid(java.lang.String)[pri:0, instance:TestPac.TestWebApp.grid@589838eb]">&gt;&gt;testgrid</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1555690610</td>   <td></td> </tr>
</table>
